{% extends "base.html" %}

{% block content %}
   {% block style %}
    <link rel="stylesheet" href="/static/css/audio.css">
   {% endblock %}
    <div class="container">
        <div class="music-list">
            <ul>
                {% for track in objects_list%}
                   {%if track.link %}
                      <li class="{% if forloop.first %}playing {% endif %}">
                          <a href="#" class="audiolink" data-src={{track.link}}>{{track.str}}</a>
                          {% if not track.liked %}
                              <a href="#" class="to-like" track_id="{{track.id}}">Like</a>
                          {% else %}
                              <a href="#" track_id="{{track.id}}" style="font-weight: bold">LIKED</a>
                          {% endif %}

                      </li>
                   {%else%}
                      {{track.str}} - В обработке <br>
                   {% endif %}
                {% endfor %}
            </ul>
            <img id="loading" src="http://www.arabianbusiness.com/skins/ab.main/gfx/loading_spinner.gif" style="display: block; margin: 0 auto; width: 50px; height:50px; display:none;">
            <a id="more-music" style="padding-bottom: 70px;">MORE</a>
        </div>
    </div>
    <div id="player" style="position: fixed; bottom: 0px; width: 100%; background: white">
            <audio preload="auto"></audio>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/audiojs/audio.min.js"></script>
    <script>
        var a = audiojs.createAll({
          trackEnded: function() {
            var next = $('.music-list ul li.playing').next();
              console.log(next);
            if (!next.length) next = $('.music-list ul li').first();
            next.click();
          }
        });
    </script>
    <script>
        var audio = a[0];
        first = $('ul a').attr('data-src');
        audio.load(first);
        function onClick(e) {
                e.preventDefault();
                $(this).parent().addClass('playing').siblings().removeClass('playing');
                audio.load($(this).attr('data-src'));
                audio.play();
            }
        function onLike(e) {
                e.preventDefault();
                id=$(this).attr('track_id');
                link = $(this);
                $.ajax({
                      url: "/music/like/"+id,
                      success: function (response) {
                          if (response['success']==true) {
                              link.css("font-weight","bold");
                              link.html("LIKED");
                          }
                      }
                  });
            }
        $('.music-list').on('click','.audiolink', onClick);
        $('.music-list').on('click','.to-like', onLike);
        var page=1;
        $('#more-music').click(function(e) {
            $('#more-music').hide();
            $('#loading').show();
              e.preventDefault();
              $.ajax({
                  url: "/music/ajax/?page="+page,
                  success: function (data) {
                      $('#more-music').show();
                      $('#loading').hide();
                      $('.music-list ul').append(data);
                      page++;
                  }
              });
        });
    </script>
{% endblock %}